# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
.vs/Travelling Amazon Salesman/v16/.suo
*.pdb
*.idb
*.log
*.ilk
*.tlog
*.pdb
*.db
*.db
.vs/Travelling Amazon Salesman/v16/.suo
*.ipch
*.opendb
*.pdb
*.tlog
